.container{
    width: 960px;
    margin: 0 auto;    
    text-align: center
}

.game, .game-cell{
    display: inline-block;
}

.game-fild{
    font-size: 0;
    background: #f5f5dc;
    outline: 2px solid;
    box-shadow: 6px 7px 13px 5px rgba(0, 0, 0, 0.29);
}

.game-cell{
    width: 100px;
    height: 100px;
    outline: 1px solid;
}

.matched{
    background-color: #3F51B5;
    background-blend-mode: difference;
}

.time-counter{
    font-size: 35px;
    color: #1402ff;
    text-shadow: 1px 1px 9px black;
}

.game-status{
    font-size: 36px;
    text-transform: uppercase;
    color: #1402ff;
    text-shadow: 2px 1px 8px black;
    opacity: 0;
}